@page "/classes/{classindex}"
@using Dndprojectv1.Shared;
@inject JsonService jservice;
<h3>CharClassDetail</h3>

@code {
    [Parameter]
    public string classindex { get; set; }

    //get only spell data
    //build spell class

    [Inject]
    public HttpClient httpClient { get; set; }

    public CharacterClass.Rootobject mySpell { get; set; }

    protected override async Task OnInitializedAsync()
    {
        mySpell = await jservice.CharClass(classindex);
    }
}
