@page "/spells/{spellid}"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Dndprojectv1.Shared
<h3>SpellDetails</h3>

@code {
    [Parameter]
    public string spellid { get; set; }

    [Inject]
    public HttpClient httpClient { get; set; }

    public ApiClasses.Rootobject myJson { get; set; }

    public ApiClasses.Result[] mySpells { get; set; }

    protected override async Task OnInitializedAsync()
    {
        myJson = await JsonSerializer.DeserializeAsync<ApiClasses.Rootobject>
        (await httpClient.GetStreamAsync($"/api/spells"));
        mySpells = myJson.results;
    }
}
